:root {
  font-family: 'Bebas Neue', cursive;
}

html {
  scroll-behavior: smooth;
}
body {
  background-image: url('../IMG/background.svg');
  background-attachment: fixed;
  background-size: cover;
}

.container {
    padding-right: 8%;
    padding-left: 8%;
}

.container-conteudo {
    padding-right: 15%;
    padding-left: 15%;
}

.cor-verde {
  color: #90c08e;
}

.cor-amarelo {
  color: #F5F75C;
}